<div class="container">
    <div class="sh-alert-area">Please answer all questions marked with an (
        <span class="asterisk-red">* </span>) to continue.</div>
        <div class="sh-alert-warning" *ngIf="!(start || kneeStiffness)">Please answer all questions marked with an (*) to continue.</div>
    <header class="sh-header">Stiffness</header>
    <div class="sub-header-bold">
        The following question concerns the amount of joint stiffness you hve exerienced during the last week in your knee. Stiffness
        is a sensation of restriction or slowness in the ease with which you move your knee joint.
    </div>
    <form #myForm="ngForm">
        <div class="sh-table">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>None</th>
                        <th>Mild </th>
                        <th>Moderate</th>
                        <th>Severe</th>
                        <th>Extreme</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="txtAlignLeft">
                            How severe is your knee stiffness after first wakening in the morning?
                            <span class="asterisk-red">*</span>
                            <div *ngIf="!(start || kneeStiffness)" class="checkbox-alert">Please choose at least one option</div>
                        </td>
                        <td class="tdselect"  (click)="selectRow(option,3)" [attr.data-th]= "option"  *ngFor="let option of options; let i = index">
                            <input type="radio" [id]="'kneeStiffness_' +i" name='DV_Q1' [(ngModel)]="kneeStiffness" [value]="option" required/>
                         </td>                      
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
    <div class="btnContainer">
        <button type="button" class="btn-right" (click)="next()">Next</button>
    </div>
</div>