<div class="container">
    <form #myForm="ngForm">
        <div class="sh-alert-area">Please answer all questions marked with an (
            <span class="asterisk-red">* </span>) to continue.</div>
        <div class="sh-alert-warning" *ngIf="!(start || ( healthIssues && matter && choosingNext))">Please answer all questions marked with an (*) to continue.</div>
        <div class="progress-bar-container">
            <div class="questionnaire-progress">Questionnaire Progress</div>
            <div class="progress-bar" style="width:50%;"></div>
        </div>
        <div class="header-txt">
            CollaboRATE
        </div>
        <div class="sub-header-txt">
            Thinking about the visit you had with your health care provider today …
            <br/>
            <br/> How much effort was made to help you understand your health issues?
        </div>
        <div class="review-bar">
            <div class="ast-box">
                <span class="asterisk-red">*</span>
            </div>
            <div class="num-box" *ngFor="let option of scores; let i = index" (click)="selectRow(option.key,0)">
                <label [attr.class]="option.css">{{option.value}}</label>
                <span class="txt-count" [attr.for]="'healthIssues' +i">{{option.key}}</span>
                <input type="radio" [id]="'healthIssues' +i" name='DV_Q1_1' [(ngModel)]="healthIssues" [value]="option.key" required/>
            </div>            
        </div>
        <div *ngIf="!(start || healthIssues)" class="checkbox-alert" style="margin-bottom:40px;">Please choose at least one option</div>

        <div class="sub-header-txt">
            How much effort was made to listen to the things that matter most to you about your health issues?
        </div>
        <div class="review-bar">
            <div class="ast-box">
                <span class="asterisk-red">*</span>
            </div>
            <div class="num-box" *ngFor="let option of scores; let i = index" (click)="selectRow(option.key,1)">
                    <label [attr.class]="option.css" >{{option.value}}</label>
                <span class="txt-count" [attr.for]="'matter' +i">{{option.key}}</span>
                <input type="radio" [id]="'matter' +i" name='DV_Q1_2' [(ngModel)]="matter" [value]="option.key" required/>
            </div>            
        </div>
        <div *ngIf="!(start || matter)" class="checkbox-alert" style="margin-bottom:40px;">Please choose at least one option</div>

        <div class="sub-header-txt"> How much effort was made to include what matters most to you in choosing what to do next?</div>
        <div class="review-bar">
            <div class="ast-box">
                <span class="asterisk-red">*</span>
            </div>
            <div class="num-box" *ngFor="let option of scores; let i = index" (click)="selectRow(option.key,2)">
                    <label [attr.class]="option.css" >{{option.value}}</label>
                <span class="txt-count" [attr.for]="'choosingNext' +i">{{option.key}}</span>
                <input type="radio" [id]="'choosingNext' +i" name='DV_Q1_3' [(ngModel)]="choosingNext" [value]="option.key" required/>
            </div>            
        </div>
        <div *ngIf="!(start || choosingNext)" class="checkbox-alert" style="margin-bottom:40px;">Please choose at least one option</div>
        <div class="btnContainer">
            <button class="btn-right" type="button" (click)="next()">Next</button>
        </div>
    </form>

</div>