<div class="container">
    <div class="sh-alert-area">Please answer all questions marked with an (<span class="asterisk-red">*</span>) to continue.</div>

    <div class="header-txt">
        CollaboRATE
    </div>
    <div class="sub-header-txt">
        Thinking about the visit you had with your health care provider today …<br/><br/>
        
        
       How much effort was made to help you understand your health issues?
    </div>
  <div class="review-bar">
  <div class="ast-box"><span class="asterisk-red">*</span></div>
  <div class="num-box"><label class="node1">No effort was made</label><span>1</span><input type="radio" name="tt"></div>
  <div class="num-box"><span>2</span><input type="radio" name="tt"></div>
  <div class="num-box"><span>3</span><input type="radio" name="tt"></div>
  <div class="num-box"><span>4</span><input type="radio" name="tt"></div>
  <div class="num-box"><span>5</span><input type="radio" name="tt"></div>
  <div class="num-box"><span>6</span><input type="radio" name="tt"></div>
  <div class="num-box"><span>7</span><input type="radio" name="tt"></div>
  <div class="num-box"><span>8</span><input type="radio" name="tt"></div>
  <div class="num-box"><span>9</span><input type="radio" name="tt"></div>
  <div class="num-box"><label class="node-last">Every effort was made</label><span>10</span><input type="radio" name="tt"></div>
  </div>
    
  <div class="sub-header-txt">
      How much effort was made to listen to the things that matter most to you about your health issues?
  </div>
  <div class="review-bar">
      <div class="ast-box"><span class="asterisk-red">*</span></div>
      <div class="num-box"><label class="node1">No effort was made</label><span>1</span><input type="radio" name="tt"></div>
      <div class="num-box"><span>2</span><input type="radio" name="tt"></div>
      <div class="num-box"><span>3</span><input type="radio" name="tt"></div>
      <div class="num-box"><span>4</span><input type="radio" name="tt"></div>
      <div class="num-box"><span>5</span><input type="radio" name="tt"></div>
      <div class="num-box"><span>6</span><input type="radio" name="tt"></div>
      <div class="num-box"><span>7</span><input type="radio" name="tt"></div>
      <div class="num-box"><span>8</span><input type="radio" name="tt"></div>
      <div class="num-box"><span>9</span><input type="radio" name="tt"></div>
      <div class="num-box"><label class="node-last">Every effort was made</label><span>10</span><input type="radio" name="tt"></div>
      </div>
  <div class="sub-header-txt">  How much effort was made to include what matters most to you in choosing what to do next?</div>
  <div class="review-bar">
      <div class="ast-box"><span class="asterisk-red">*</span></div>
      <div class="num-box"><label class="node1">No effort was made</label><span>1</span><input type="radio" name="tt"></div>
      <div class="num-box"><span>2</span><input type="radio" name="tt"></div>
      <div class="num-box"><span>3</span><input type="radio" name="tt"></div>
      <div class="num-box"><span>4</span><input type="radio" name="tt"></div>
      <div class="num-box"><span>5</span><input type="radio" name="tt"></div>
      <div class="num-box"><span>6</span><input type="radio" name="tt"></div>
      <div class="num-box"><span>7</span><input type="radio" name="tt"></div>
      <div class="num-box"><span>8</span><input type="radio" name="tt"></div>
      <div class="num-box"><span>9</span><input type="radio" name="tt"></div>
      <div class="num-box"><label class="node-last">Every effort was made</label><span>10</span><input type="radio" name="tt"></div>
      </div>

  <div class="btnContainer">
    <button class="btn-right">Next</button>
  </div>
  
  </div>