<div class="container">
  <div class="progress-bar-container">
      <div class="questionnaire-progress">Questionnaire Progress</div>
      <div class="progress-bar" style="width:50%;"></div>
  </div>
  <div class="logo-area">
      <img src="/../assets/images/PAMF_logo.png" alt="Sutter Health" class="img-responsive" />
  </div>

  <div class="header-txt">
    {{appService.urlParams.c12}} Survey
  </div>

  <div class="sub-header-txt">
    {{appService.urlParams.c13}}
  </div>

  <div class="question-text">
      This survey asks for your view about your <strong>{{appService.urlParams.c12}}</strong> . This information will help us keep track of how you feel about your
      knee and how well you are able to do your usual activities.
  </div>
  <div class="question-text">
      Answer every question by selecting the appropriate box, <u>only</u> one box for each question. If you are unsure about how to answer
      a question, please give the best answer you can.
  </div>
  <div class="btnContainer">
    <!-- <a href="#" class="btn-right">Next</a> -->
    <button class="btn-right" (click)="next()">Next</button>
</div>
</div>