<div class="container">
    <div class="logo-area"><img src="/../assets/images/PAMF_logo.png" alt="Sutter Health" class="img-responsive" /></div>

    <div class="header-txt">
     [custom12] Survey
    </div>

    <div class="sub-header-txt">
      [customi3] 
    </div>

    <div class="question-text">
        This survey asks for your view about your <!--${custom12} -->. This information will help us keep track of how you feel about your
        knee and how well you are able to do your usual activities.
    </div>
    <div class="question-text">
        Answer every question by selecting the appropriate box, only one box for each question. If you are unsure about how to answer
        a question, please give the best answer you can.
    </div>
    <div class="btnContainer">
        <a href="#" class="btn-right">Continue</a>
    </div>
</div>