<div class="container">
    <div class="sh-alert-area">Please answer all questions marked with an (<span class="asterisk-red">*</span>) to continue.</div>
    <header class="sh-header">PAIN</header>

    <div class="sub-header-bold">
        What amount of hip pain have you experienced the last week during the following activities?
    </div>

    <table class="sh-table">
        <thead>
            <tr>
                <th></th>
                <th>None</th>
                <th>Mild </th>
                <th>Moderate</th>
                <th>Severe</th>
                <th>Extreme</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="txtAlignLeft">
                    Going up or down stairs <span class="asterisk-red">*</span>
                </td>
                <td data-th="None">
                    <label for="opt001">
                    <input type="radio" id="opt001" name='group1' required value='All of the time'>
                    </label>
                </td>
                <td data-th="Mild">
                    <label for="opt002">
                    <input type="radio" id="opt002" name='group1' value='Most of the time'>
                    </label>
                </td>
                <td data-th="Moderate">
                    <label for="opt003">
                    <input type="radio" id="opt003" name='group1' value = 'A good bit of the time'>
                     </label>
                </td>
                <td data-th="Severe">
                    <label for="opt004">
                    <input type="radio" id="opt004" name='group1' value = 'Some of the time'>
                     </label>
                </td>
                <td data-th="Extreme">
                    <label for="opt005">
                    <input type="radio" id="opt005" name='group1' value='A little of the time'>
                    </label>
                </td>


            </tr>
            <tr>
                <td class="txtAlignLeft">
                    Walking on an uneven surface <span class="asterisk-red">*</span>
                </td>
                <td data-th="None">
                    <label for="opt008">
                    <input type="radio" id="opt008" name='group2' required value='All of the time'>
                    </label>
                </td>
                <td data-th="Mild">
                    <label for="opt009">
                    <input type="radio" id="opt009" name='group2' value='Most of the time'>
                    </label>
                </td>
                <td data-th="Moderate">
                    <label for="opt010">
                    <input type="radio" id="opt010" name='group2' value = 'A good bit of the time'>
                    </label>
                </td>
                <td data-th="Severe">
                    <label for="opt011">
                    <input type="radio" id="opt011" name='group2' value = 'Some of the time'>
                      </label>
                </td>
                <td data-th="Extreme">
                    <label for="opt012">
                    <input type="radio" id="opt012" name='group2' value='A little of the time'>
                     </label>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="btnContainer">
        <!-- <a href="#" class="btn-right">Continue</a> -->
        <button class="btn-right" (click)="next()">Next</button>
    </div>

</div>
