<div class="container">
    <div class="sh-alert-area">Please answer all questions marked with an (
        <span class="asterisk-red">*</span>) to continue.</div>
    <!-- <div class="sh-alert-warning">Please answer all questions marked with an (*) to continue.</div> -->
    <header class="sh-header">PAIN</header>

    <div class="sub-header-bold">
        What amount of hip pain have you experienced the last week during the following activities?
    </div>
    <form #myForm="ngForm">
        <table class="sh-table">
            <thead>
                <tr>
                    <th></th>
                    <th>None</th>
                    <th>Mild </th>
                    <th>Moderate</th>
                    <th>Severe</th>
                    <th>Extreme</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="txtAlignLeft">
                        Going up or down stairs
                        <span class="asterisk-red">*</span>
                        <span *ngIf="!(start || stairs)" class="sh-alert-text">Please select a value</span>
                    </td>
                    <td data-th="None">
                        <label for="opt001">
                            <input type="radio" id="opt001" name='DV_Q1_1' [(ngModel)]="stairs" value = "none" required>
                        </label>
                    </td>
                    <td data-th="Mild">
                        <label for="opt002">
                            <input type="radio" id="opt002" name='DV_Q1_1' [(ngModel)]="stairs" value="Mild" >
                        </label>
                    </td>
                    <td data-th="Moderate">
                        <label for="opt003">
                            <input type="radio" id="opt003" name='DV_Q1_1' [(ngModel)]="stairs" value="Moderate">
                        </label>
                    </td>
                    <td data-th="Severe">
                        <label for="opt004">
                            <input type="radio" id="opt004" name='DV_Q1_1' [(ngModel)]="stairs" value ="Severe">
                        </label>
                    </td>
                    <td data-th="Extreme">
                        <label for="opt005">
                            <input type="radio" id="opt005" name='DV_Q1_1' [(ngModel)]="stairs" value="Extreme">
                        </label>
                    </td>
                </tr>
                <tr>
                    <td class="txtAlignLeft">
                        Walking on an uneven surface
                        <span class="asterisk-red">*</span>
                        <span *ngIf="!(start || surface)" class="sh-alert-text">Please select a value</span>
                    </td>
                    <td data-th="None">
                        <label for="opt008">
                            <input type="radio" id="opt008" name='DV_Q1_2' required [(ngModel)]="surface" value="none">
                        </label>
                    </td>
                    <td data-th="Mild">
                        <label for="opt009">
                            <input type="radio" id="opt009" name='DV_Q1_2' [(ngModel)]="surface" value="Mild">
                        </label>
                    </td>
                    <td data-th="Moderate">
                        <label for="opt010">
                            <input type="radio" id="opt010" name='DV_Q1_2' [(ngModel)]="surface" value="Moderate">
                        </label>
                    </td>
                    <td data-th="Severe">
                        <label for="opt011">
                            <input type="radio" id="opt011" name='DV_Q1_2' [(ngModel)]="surface" value="Severe">
                        </label>
                    </td>
                    <td data-th="Extreme">
                        <label for="opt012">
                            <input type="radio" id="opt012" name='DV_Q1_2' [(ngModel)]="surface" value="Extreme">
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="btnContainer">
            <button type="submit" class="btn-right" (click)="next()">Next</button>
        </div>
    </form>
</div>