<div class="container">
  <div class="progress-bar-container">
      <div class="questionnaire-progress">Questionnaire Completed</div>
      <div class="progress-bar" style="width:100%;"></div>
  </div>
  
  <div class="logo-area">
      <img src="/../assets/images/PAMF_logo.png" alt="Sutter Health" class="img-responsive" />
  </div>

  

  <div class="question-text">
      Well done {{appService.urlParams.c5}} {{appService.urlParams.c6}}!<br/>
      You <strong>{{appService.urlParams.c13}}</strong> questionnaires are complete.<br/><br/>
      Thank you for participating in the general health assessment and <strong>{{appService.urlParams.c12}}</strong> 
      questionnaires. By doing so, you help us better understand your needs and improve our <strong>{{appService.urlParams.c12}}</strong> care plans
       for you and all our patients.<br/><br/>

For general information about the knee replacement program, please visit the <a [attr.href]="webSite" target="_blank" > Knee Replacement Website</a>
  </div>

</div>