<div class="container">
    <div class="sh-alert-area">Please answer all questions marked with an (
        <span class="asterisk-red">* </span>) to continue.</div>
        <div class="sh-alert-warning" *ngIf="!(start || (health && quality && physical && mentalHealth && social && activities ))">Please answer all questions marked with an (*) to continue.</div>
    <div class="progress-bar-container">
        <div class="questionnaire-progress">Questionnaire Progress</div>
        <div class="progress-bar" style="width:50%;"></div>
    </div>
    <div class="logo-area">
        <img src="/../assets/images/PAMF_logo.png" alt="Sutter Health" class="img-responsive" />
    </div>

    <div class="header-txt">
        PROMIS - Global Health
    </div>

    <div class="sub-header-bold">
        Please respond to each item by marking one box per row.
    </div>

    <form #myForm="ngForm">
        <div class="sh-table">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Excellent</th>
                        <th>Very good </th>
                        <th>Good</th>
                        <th>Fair</th>
                        <th>Poor</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="txtAlignLeft">
                            In general, would you say your health is:
                            <span class="asterisk-red">*</span>
                            
                            <div *ngIf="!(start || health)" class="checkbox-alert">Please choose at least one option</div>
                        </td>
                        <td class="tdselect"  (click)="selectRow(option,0)" [attr.data-th]= "option"  *ngFor="let option of options; let i = index">
                            <input type="radio" [id]="'health' +i" name='DV_Q1_1' [(ngModel)]="health" [value]="option" required/>
                         </td>
                       
                    </tr>
                    <tr>
                        <td class="txtAlignLeft">
                            In general, would you say your quality of life is:
                            <span class="asterisk-red">*</span>
                            <div *ngIf="!(start || quality)" class="checkbox-alert">Please choose at least one option</div>
                        </td>
                        <td class="tdselect"  (click)="selectRow(option,1)" [attr.data-th]= "option"  *ngFor="let option of options; let i = index">
                            <input type="radio" [id]="'quality' +i" name='DV_Q1_2' [(ngModel)]="quality" [value]="option" required/>
                         </td>
                        
                    </tr>
                    <tr>
                        <td class="txtAlignLeft">
                            In general, how would you rate your physical health?
                            <span class="asterisk-red">*</span>
                            <div *ngIf="!(start || physical)" class="checkbox-alert">Please choose at least one option</div>
                        </td>
                        <td class="tdselect"  (click)="selectRow(option,2)" [attr.data-th]= "option"  *ngFor="let option of options; let i = index">
                            <input type="radio" [id]="'physical' +i" name='DV_Q1_3' [(ngModel)]="physical" [value]="option" required/>
                         </td>
                       

                    </tr>
                    <tr>
                        <td class="txtAlignLeft">
                            In general, how would you rate your mental health, including your mood and your ability to think?
                            <span class="asterisk-red">*</span>
                            <div *ngIf="!(start || mentalHealth)" class="checkbox-alert">Please choose at least one option</div>
                        </td>
                        <td class="tdselect"  (click)="selectRow(option,3)" [attr.data-th]= "option"  *ngFor="let option of options; let i = index">
                            <input type="radio" [id]="'mentalHealth' +i" name='DV_Q1_4' [(ngModel)]="mentalHealth" [value]="option" required/>
                         </td>                       
                    </tr>
                    <tr>
                        <td class="txtAlignLeft">
                            In general, how would you rate your satisfaction with your social activities and relationships?
                            <span class="asterisk-red">*</span>
                            <div *ngIf="!(start || social)" class="checkbox-alert">Please choose at least one option</div>
                        </td>
                        <td class="tdselect"  (click)="selectRow(option,4)" [attr.data-th]= "option"  *ngFor="let option of options; let i = index">
                            <input type="radio" [id]="'social' +i" name='DV_Q1_5' [(ngModel)]="social" [value]="option" required/>
                         </td>
                    </tr>
                    <tr>
                        <td class="txtAlignLeft">
                            In general, please rate how well you carry out your usual social activities and roles. (This includes activities at home,
                            at work and in your community, and responsibilities as a parent child, spouse, employee, friend,
                            etc.)
                            <span class="asterisk-red">*</span>
                            <div *ngIf="!(start || activities)" class="checkbox-alert">Please choose at least one option</div>
                        </td>
                        <td class="tdselect"  (click)="selectRow(option,5)" [attr.data-th]= "option"  *ngFor="let option of options; let i = index">
                            <input type="radio" [id]="'activities' +i" name='DV_Q1_6' [(ngModel)]="activities" [value]="option" required/>
                         </td>                       
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="btnContainer">
            <button type="button" class="btn-right" (click)="next()">Next</button>
        </div>
    </form>
</div>