<div class="container">
  <div class="sh-alert-area">Please answer all questions marked with an (<span class="asterisk-red">*</span>) to continue.</div>
  <header class="sh-header">Pain</header>
  <div class="sub-header-txt">
      How would you rate your pain on average?
  </div>
<div class="review-bar">
<div class="ast-box"><span class="asterisk-red">*</span></div>

<div class="num-box"><label class="node1">No Pain</label><span>1</span><input type="radio" name="tt"></div>
<div class="num-box"><span>2</span><input type="radio" name="tt"></div>
<div class="num-box"><span>3</span><input type="radio" name="tt"></div>
<div class="num-box"><span>4</span><input type="radio" name="tt"></div>
<div class="num-box"><span>5</span><input type="radio" name="tt"></div>
<div class="num-box"><span>6</span><input type="radio" name="tt"></div>
<div class="num-box"><span>7</span><input type="radio" name="tt"></div>
<div class="num-box"><span>8</span><input type="radio" name="tt"></div>
<div class="num-box"><span>9</span><input type="radio" name="tt"></div>
<div class="num-box"><label class="node-last">Worst Imaginable Pain</label><span>10</span><input type="radio" name="tt"></div>
</div>
  

<div class="btnContainer">
  <button class="btn-right" (click)="next()">Next</button>
</div>

</div>