<div class="container">
        <div class="logo-area">
            <img src="/../assets/images/PAMF_logo.png" alt="Sutter Health" class="img-responsive" />
        </div>
        <div class="question-text">
            Dear PAMF Patient,<br/>
            You have successfully unsubscribed from the Total Joint Replacement email list.<br/><br/>
    
            Thank you.
        </div>
        
        <div class="btnContainer">
            <button type="button" class="btn-right" (click)="exit()">Exit</button>
          </div>
        
    </div>


 
