<div class="container">
    <div class="sh-alert-area">Please answer all questions marked with an (
        <span class="asterisk-red">* </span>) to continue.</div>
        <div class="sh-alert-warning" *ngIf="!(start || (rising && bending && lying && sitting))">Please answer all questions marked with an (*) to continue.</div>
    <header class="sh-header">Physical Function</header>
    <div class="sub-header-bold">
        The following questions concern your physical function. By this we mean your ability to move around and to look after yourself.
        For each of the following activities please indicate the degree of difficulty you have experienced in the last week
        due to your hip.
    </div>
    <form #myForm="ngForm">
        <div class="sh-table">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>None</th>
                        <th>Mild </th>
                        <th>Moderate</th>
                        <th>Severe</th>
                        <th>Extreme</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="txtAlignLeft">
                            Rising from sitting
                            <span class="asterisk-red">*</span>
                            <div *ngIf="!(start || rising)" class="checkbox-alert">Please choose at least one option</div>
                        </td>

                        <td class="tdselect" (click)="selectRow(option,0)" [attr.data-th]="option" *ngFor="let option of options; let i = index">
                            <input type="radio" [id]="i" name='DV_Q2_1' [(ngModel)]="rising" [value]="option" required/>
                        </td>
                    </tr>
                    <tr>
                        <td class="txtAlignLeft">
                            Bending to floor/ pick up an object
                            <span class="asterisk-red">*</span>
                            <br/>
                            <div *ngIf="!(start || bending)" class="checkbox-alert">Please choose at least one option</div>
                        </td>
                        <td class="tdselect"  (click)="selectRow(option,1)" [attr.data-th]="option" *ngFor="let option of options; let i = index">
                            <input type="radio" [id]="'bending_' +i" name='DV_Q2_2' [(ngModel)]="bending" [value]="option" required/>
                        </td>

                       
                    </tr>
                    <tr>
                        <td class="txtAlignLeft">
                            Lying in bed(turning over, maintaining hip position)
                            <span class="asterisk-red">*</span>
                            <br/>
                            <div *ngIf="!(start || lying)" class="checkbox-alert">Please choose at least one option</div>
                        </td>
                        <td class="tdselect" (click)="selectRow(option,2)" [attr.data-th]= "option"  *ngFor="let option of options; let i = index">
                            <input type="radio" [id]="'lying_' +i" name='DV_Q2_3' [(ngModel)]="lying" [value]="option" required/>
                         </td>
                         
                       
                    </tr>
                    <tr>
                        <td class="txtAlignLeft">
                            Sitting
                            <span class="asterisk-red">*</span>
                            <br/>
                            <div *ngIf="!(start || sitting)" class="checkbox-alert">Please choose at least one option</div>
                        </td>
                        <td class="tdselect"  (click)="selectRow(option,3)" [attr.data-th]= "option"  *ngFor="let option of options; let i = index">
                            <input type="radio" [id]="'sitting_' +i" name='DV_Q2_4' [(ngModel)]="sitting" [value]="option" required/>
                         </td>
                         
                       
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="btnContainer">
            <button type="button" class="btn-right" (click)="next()">Next</button>
        </div>
    </form>
</div>