<div class="container">
  <div class="logo-area">
    <img src="/../assets/images/PAMF_logo.png" alt="Sutter Health" class="img-responsive" />
  </div>
  <div class="banner-area">
    <img src="/../assets/images/pamf-landing-page.png" alt="Sutter Health" class="img-responsive" />
  </div>
  <div class="question-text">
    Welcome {{appService.urlParams.c5}} {{appService.urlParams.c6}},
    <br/>
    <br/>
  </div>

  <div class="pamf-image-container">
    <div class="profile-image">
      <img [attr.src]= "appService.urlParams.c8" />
    </div>
    <div class="question-text">
      A few minutes of your time answering the following questionnaires will help with our shared-decision on your
      <strong>{{appService.urlParams.c12}}</strong>
      care plan.
      <br/>
      <br/>
      <br/>
      <br/> {{appService.urlParams.c7}}
      <br/>{{appService.urlParams.c9}}
    </div>
  </div>

  <div class="question-text">
    Please note that your responses will not be used for determining coverage or any other insurance related purposes. Questionnaire
    answers will be used for quality improvement purposes only.
  </div>

  <div class="question-small-link">
    <a [attr.href]="kneePrivacyPolicy" target="_blank">Privacy Policy</a>
    <a [attr.href]="termsAndConditions" target="_blank"> Terms and Conditions</a>
  </div>

  <div class="btnContainer">
    <button type="button" class="btn-right" (click)="next()">Next</button>
  </div>
  <header class="sh-header">UNDERSTAND MORE ABOUT YOUR KNEE REPLACEMENT PROCEDURE </header>
  <ul class="question-helps">
    <li>
      <a [attr.href]="pros1" target="_blank">Should I Have Knee Replacement?</a>
    </li>
    <li>
      <a [attr.href]="pros2" target="_blank"> What Happens During Knee Replacement Surgery
      </a>
    </li>
    <li>
      <a [attr.href]="pros3" target="_blank"> Preparing for Surgery - What To Expect</a>
    </li>
    <li>
      <a [attr.href]="pros4" target="_blank"> Recovering from Knee Replacement </a>
    </li>
  </ul>
</div>