<div class="container">
  <form #myForm="ngForm">
    <div class="sh-alert-area">Please answer all questions marked with an (
      <span class="asterisk-red">* </span>) to continue.</div>
    <div class="sh-alert-warning" *ngIf="!(start ||  pain)">Please answer all questions marked with an (*) to continue.</div>
    <header class="sh-header">Pain</header>
    <div class="sub-header-txt">
      How would you rate your pain on average?
    </div>
    <div class="review-bar">
      <div class="ast-box" >
        <span class="asterisk-red">*</span>
      </div>

      <div class="num-box" *ngFor="let option of scores; let i = index" (click)="selectRow(option.key)">
          <label class="node1" [attr.class]="option.css">{{option.value}}</label>
        <span class="txt-count" [attr.for]="'pain' +i">{{option.key}}</span>
        <input type="radio" [id]="'pain' +i" name='DV_Q1_1' [(ngModel)]="pain" [value]="option.key" required/>
      </div>     
    </div>
    <div *ngIf="!(start || pain)" class="checkbox-alert">Please choose at least one option </div>

    <div class="btnContainer">
      <button type="button" class="btn-right" (click)="next()">Next</button>
    </div>
  </form>

</div>