<div class="container">
    <div class="sh-alert-area">Please answer all questions marked with an (
        <span class="asterisk-red">* </span>) to continue.</div>
        <div class="sh-alert-warning" *ngIf="!(start ||  emotionalProblems)">Please answer all questions marked with an (*) to continue.</div>
    <div class="sub-header-bold">
        In the past seven days...
    </div>

    <form #myForm="ngForm">
        <div class="sh-table">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Never</th>
                        <th>Rarely</th>
                        <th>Sometimes</th>
                        <th>Often</th>
                        <th>Always</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="txtAlignLeft">
                            How often have you been bothered by emotional problems such as feeling anxious, depressed or irritable?
                            <span class="asterisk-red">*</span>
                            <div *ngIf="!(start || emotionalProblems)" class="checkbox-alert">Please choose at least one option</div>
                        </td>
                        <td class="tdselect"  (click)="selectRow(option,0)" [attr.data-th]= "option"  *ngFor="let option of options; let i = index">
                            <input type="radio" [id]="'emotionalProblems' +i" name='DV_Q3' [(ngModel)]="emotionalProblems" [value]="option" required/>
                         </td>                        
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="btnContainer">
            <button type="button" class="btn-right" (click)="next()">Next</button>
        </div>
    </form>
</div>