<div class="container">
  <div class="sh-alert-area">Please answer all questions marked with an (
    <span class="asterisk-red">*</span>) to continue.</div>
  <div class="logo-area">
    <img src="/../assets/images/PAMF_logo.png" alt="Sutter Health" class="img-responsive" />
  </div>
  <div class="banner-area">
    <img src="/../assets/images/pamf-landing-page.png" alt="Sutter Health" class="img-responsive" />
  </div>
  <!-- #form="ngForm" (ngSubmit)="formPost(form.value)" -->
  <form>
    <div class="question-text">
      Dear PAMF Patient, please enter the Total Joint Replacement Access Code printed on your letter:
      <span class="asterisk-red">*</span>
    </div>
    <div class="question-inputfld">
      <input name="code" type="text" ngModel required>
    </div>
    <div class="question-text">
      Additionally, we are asking patients for their email address. Your email address will be kept confidential and will not be
      used for any other purpose than for our office to contact you. Please provide your email address below.
    </div>
    <div class="question-inputfld">
      <input name="email" ngModel type="text" >
    </div>
    <div class="question-text">
      Click "Next" to proceed to your questionnaires
    </div>
    <div class="btnContainer">
      <!-- <a href="#" class="btn-right">Next</a> -->
      <button type="submit" class="btn-right" (click)="submitClicked()">Next</button>
    </div>
  </form>  
</div>